# refresh interval in seconds for periodical updates
refresh_interval=600

# every domain you want to update needs an own [[domains]] block.
# define as many [[domains]] blocks as needed.
[[domains]]

# your domain with dynamic ip
domain="first.fancy.tld"

# authentication on dyn dns service (set via http basic auth by default)
username="important"
password="very-secret"

# refresh url with placeholders
# valid placeholders are <domain> <ip4> <ip6> <username> <password> <host> <protocol>
refresh_url="https://dyn-dns-provider.tld/update?domain=<domain>&ip=<ip4>"

# set static ip v4 address [optional]
ip4_address="10.0.0.1"

# set static ip v6 address [optional]
ip6_address="220e:be5b:20f0:9d98:4e05:be8c:5741:ce92"

# set host id / interface id (not considered when ip6_address is defined) [optional]
ip6_host_id="5b7a:f9bf:d5b7:a9a8"

# another dyn dns domain configuration
[[domains]]
domain="second.fancy.tld"

username="so-important"
password="top-secret"

# uses template
host="other-provider.tld"
refresh_url=":my-provider"

# define your own refresh url templates,
# so that you can reuse them
[templates.my-provider]
host="my-provider.tld"
refresh_url="<protocol>://<host>/path?hostname=<domain>&ip=<ip4>,<ip6>&some=value"