refresh_interval=600

[[domain]]
domain="abc.de"
username="user1"
password="password1"
refresh_url="https://domain1.tld/something"
ip_versions=[4,6]

[[domain]]
domain="mydomain.something.tld"
username="user2"
password="password2"
refresh_url="https://domain2.tld/foobar"
ip_versions=[6]